
<ul id="lists">
	<% sort_lists(@lists) do |list_item, index| %>
			<li class="<%= list_class(list_item)%>">
			<a href="/lists/<%=list_item[:id]%>">
				<h2><%=list_item[:name]%></h2>
				<p>
				<%= list_item[:todos_remaining_count] %> / <%= list_item[:todos_count] %></p>
			</a>
		</li>
	<% end %>
	</ul>

<% content_for :header_links do %>
<a class="add" href="/lists/new"> New List </a>
<% end %>